
.icon-robot:before { content: '\e80f'; } /* '' */
.icon-byu:before { content: '\e9ca'; } /* '' */
.icon-colts:before { content: '\e9cb'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-linkedin-in:before { content: '\f0e1'; } /* '' */
.icon-github-alt:before { content: '\f113'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-aws:before { content: '\f375'; } /* '' */
.icon-docker:before { content: '\f395'; } /* '' */
.icon-microsoft:before { content: '\f3ca'; } /* '' */
.icon-node-js:before { content: '\f3d3'; } /* '' */
.icon-python:before { content: '\f3e2'; } /* '' */
.icon-react:before { content: '\f41b'; } /* '' */
.icon-ubuntu:before { content: '\f7df'; } /* '' */
