{
	auto_https off
	admin off
}

:8000 {
	encode zstd gzip

	handle_path /static/* {
		root * /app/staticfiles
		file_server
	}

	handle_path /media/* {
		root * /app/data/media
		file_server
	}

	handle {
		reverse_proxy 127.0.0.1:9000 {
			header_up X-Forwarded-Proto https
		}
	}
}
