{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="darkreader-lock">
        <meta name="description" content="{% block meta-description %}{% endblock %}">
        <link rel="preload" as="font" type="font/woff2" href="{% static 'main/fonts/inter-variablefont_opszwght-webfont.woff2' %}" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="{% static 'main/fonts/fontello/font/fontello.woff2' %}" crossorigin>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <link rel="stylesheet" href="{% static 'main/fonts/fontello/css/fontello.css' %}">
        <link rel="icon" type="image/png" href="{% static '/main/imgs/favicon-96x96.png' %}" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="{% static '/main/imgs/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static '/main/imgs/favicon.ico' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/main/imgs/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Matheus Portfolio" />
        <link rel="manifest" href="{% static '/main/imgs/site.webmanifest' %}" />
        <title>{% block title %}{% endblock %} - I'm Matt</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>