{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="darkreader-lock" content="">
        <meta name="description" content="{% block meta-description %}{% endblock %}">
        <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\/script>');</script>
        <link rel="preload" as="font" type="font/woff2" href="{% static 'main/fonts/inter-variablefont_opszwght-webfont.woff2' %}" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="{% static 'main/fonts/fontello/font/fontello.woff2' %}" crossorigin>
        <link rel="stylesheet" href="{% static 'main/style.css' %}">
        <noscript><link rel="stylesheet" href="{% static 'main/style-noscript.css' %}"></noscript>
        <link rel="stylesheet" href="{% static 'main/fonts/fontello/css/fontello.css' %}">
        <link rel="icon" type="image/png" href="{% static 'main/imgs/favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/svg+xml" href="{% static 'main/imgs/favicon.svg' %}">
        <link rel="shortcut icon" href="{% static 'main/imgs/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/imgs/apple-touch-icon.png' %}">
        <meta name="apple-mobile-web-app-title" content="Matheus Portfolio">
        <link rel="manifest" href="{% static 'main/imgs/site.webmanifest' %}">
        {% block extra-meta %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script>
            const toggle = document.getElementById("theme-toggle");

            if(toggle) {
                const storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
                if (storedTheme)
                    document.documentElement.setAttribute('data-theme', storedTheme);

                toggle.onclick = function() {
                    const currentTheme = document.documentElement.getAttribute("data-theme");
                    let targetTheme = "light";

                    if (currentTheme === "light") {
                        targetTheme = "dark";
                    }

                    document.documentElement.setAttribute('data-theme', targetTheme)
                    localStorage.setItem('theme', targetTheme);
                };
            }
        </script>
    </body>
</html>