{% extends "main/base.html" %}
{% load static %}
{% block extra-meta %}
    <title>Blog - I'm Matt</title>
{% endblock %}
{% block body %}
{% include 'main/header.html' with title='Blog' back_to='/' tag=tag %}
<div class="content">
    <section class="blog-section">
        {% for article in articles %}
        <div class="blog-item">
            <a href="{% url 'blog-article' article.pk %}" target="_blank">
                <div class="blog-header">
                    <p class="project-title">{{ article.title }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}