{% extends "main/base.html" %}
{% load static %}
{% load tz %}
{% block extra-meta %}
    <title>Blog - I'm Matt</title>
{% endblock %}
{% block body %}
{% include 'main/header.html' with title='Blog' back_to='/' tag=tag %}
<div class="content">
    <section class="blog-section">
        {% for article in articles %}
        <a href="{% url 'blog-article' article.pk %}">
            <div class="blog-item">
                    <div class="blog-header">
                        <p>
                            {% timezone "America/Denver" %}
                                {{ article.date|date:"n/d/y" }}
                            {% endtimezone %}
                        </p>
                    </div>
                    <p class="project-title">{{ article.title }}</p>
            </div>
        </a>
        {% endfor %}
    </section>
</div>
{% endblock %}