{% load static %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const heroGreeting = document.querySelector('.hero-greeting');
        const heroName = document.querySelector('.hero-name');
        const content = document.querySelector('.content');
        const navButtons = document.querySelector('.nav-buttons');

        function styleHeader(fixed = false) {
            if(content !== null) {
                content.style.paddingTop = (fixed ? 80{% if title %} + 60{% endif %} : 300) + 'px';
            }

            if(fixed) {
                heroGreeting.style.display = 'none';
                heroName.style.top = '10px';
                heroName.style.left = '10px';
                heroName.style.transform = `translate(0, 0)`;
                heroName.style.height = '2.5rem';
                navButtons.style.display = 'none';
                return;
            }

            const heroOpacity = Math.max(0, 1 - scrollY / 100);
            if (heroOpacity > 0) {
                heroGreeting.style.display = 'block';
                heroGreeting.style.opacity = heroOpacity;
            } else {
                heroGreeting.style.display = 'none';
            }
            heroGreeting.style.top = `${Math.max(10, 80 - scrollY)}px`;
            heroName.style.top = `${120 - Math.min(110, Math.max(0, scrollY))}px`;
            const leftPercentage = 50 - Math.min(46, scrollY);
            console.log(leftPercentage)
            if(leftPercentage > 5) {
                heroName.style.left = `${leftPercentage}%`;
                heroName.style.transform = `translate(-${50 - Math.min(46, scrollY)}%, 0)`;
            } else {
                heroName.style.left = '10px';
                heroName.style.transform = `translate(0, 0)`;
            }
            heroName.style.height = `${4.5 - Math.min(2, scrollY / 50)}rem`;
            navButtons.style.top = `${Math.max(10, 220 - scrollY)}px`;
            const navButtonsOpacity = Math.max(0, 2 - Math.max(1, scrollY / 100));
            if (navButtonsOpacity > 0) {
                navButtons.style.display = 'block';
                navButtons.style.opacity = navButtonsOpacity;
            } else {
                navButtons.style.display = 'none';
            }
        }

        {% if main_page %}
        window.addEventListener('scroll', () => {
            styleHeader();
        });
        {% endif %}

        styleHeader({% if not main_page %}true{% endif %});
    });
</script>
<header>
    <div class="top-buttons">
        <a href="https://github.com/mfplinta-byu" target="_blank" class="top-button" aria-label="Link to GitHub"><i class="icon-github"></i></a>
        <a href="https://www.linkedin.com/in/matheus-plinta" target="_blank" class="top-button" aria-label="Link to Linkedin"><i class="icon-linkedin-in"></i></a>
    </div>
    <div class="hero-section">
        <div>
            <p class="hero-greeting">Nice to meet you,</p>
            {% if main_page %}
                {% include 'main/name.html' with classes="hero-name" animate=True %}
            {% else %}
                {% include 'main/name.html' with classes="hero-name" %}
            {% endif %}

        </div>
    </div>
    <nav class="nav-buttons">
        <ul>
            <li class="nav-button"><a href="#">Résumé</a></li>
            <li class="nav-button"><a href="{% url 'projects' %}">Projects</a></li>
        </ul>
    </nav>
    {% if title %}
        <div class="nav-title">
            <a href="{{ back_to }}" class="back-link">&lt; Back</a>
            <h1 class="header-title">{{ title }}</h1>
        </div>
    {% endif %}
</header>