{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ "Home" }}{% endblock %}
{% block meta-description %}{{ "I'm Matt (Matheus Plinta). Tech aficionado. Programmer in C#, Python, NodeJS, and more." }}{% endblock %}

{% block body %}
    {% include 'main/header.html' with main_page=True %}
    <div class="content">
        <section class="ots-banner">
            <p>Looking for custom solutions for your business?</p>
            <a href="https://optimaltech.us" target="_blank">Get in touch</a>
        </section>
        <div class="horizontal-padded">
            <section class="skills-section">
                <h2>Skills</h2>
                <ul>
                    {% for skill in skills %}
                        <li>
                            <div class="skill-item">
                                <div class="skill-icon"><i class="{{ skill.icon }}"></i></div>
                                <p>{{ skill.title }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="education-section">
                <h2>Education</h2>
                <ul>
                    {% for education_item in education %}
                        <li>
                            <div class="education-item">
                                <div class="education-header">
                                    {% if education_item.icon %}<div class="education-icon"><i class="{{ education_item.icon }}"></i></div>{% endif %}
                                    <div>
                                        <p class="education-title">{{ education_item.degree }}</p>
                                        <p class="education-school">{{ education_item.institution }}</p>
                                    </div>
                                    <p class="education-dates">{{ education_item.start_date|date:"M Y" }} - {{ education_item.end_date|date:"M Y" }}</p>
                                </div>
                                <div class="education-body markdown">
                                    {{ education_item.formatted_description|safe }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="experience-section">
                <h2>Experience</h2>
                <ul>
                    {% for experience in experiences %}
                        <li>
                            <div class="experience-item">
                                <div class="experience-header">
                                    <div>
                                        <p class="experience-title">{{ experience.title }}</p>
                                        <p class="experience-company">{{ experience.company }}</p>
                                    </div>
                                    <p class="experience-dates">{{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }}</p>
                                </div>
                                <div class="experience-body markdown">
                                    {{ experience.formatted_description|safe }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}